{% extends "obgest/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block sous_menu %} {{sous_title}} {% endblock %}

<!-- main content -->
{% block main_body %}
<!-- If annonce faite avec succes -->
{% if annonce %}
	<div class="alert alert-success" id="">
            <strong>Success ! </strong> Votre annonce a ete enregistre. merci d'avoir utilise <b><u>mjwenn</u></b>
    </div>
{% endif %}

<h2><u>M'Jwenn Enfin là!</u></h2>
<p style="text-align:justify">
			C'est un site qui permet à une personne ayant trouvé un objet, en particulier
			 une piece d'identité, d'informer son proprietaire afin que celui-ci puisse le récuprer.<p>
			 <p style="text-align:justify">Une personne ayant perdu un objet peut le rechercher sur <strong>m'jwenn</strong> et au cas où
			  elle ne le trouve pas peut mettre une alerte sur le type de cet objet et des informations sur
			   comment la contacter pour etre informer quand ce objet sera trouvé et publié sur <strong>m'jwenn</strong>!
		</p>
Vous pouvez : 
<ul>
	<li><a href="{% url 'obgest:annonce' %}">Annoncer une carte trouvée, </a></li>
	<li><a href="{% url 'obgest:search' %}">Rechercher une carte perdue, </a></li>
	<li><a href="{% url 'obgest:alert' %}">Placer une alerte sur votre carte et etre informé quand la carte est annoncée sur notre site, </a></li>
	<li>Et faire un don pour supporter ce projet; ça ne fait que commencer!</li>
</ul>

{% endblock %}

{% block page_side %}
	
	<hr>
	<h2> Supporter Mjwenn </h2>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="V5SNGH7ZQ7ACE">
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
	<br/>
	<p> Pour faire tourner les services basiques de <b>mjwenn</b> il faut de l'argent. Aidez-nous à continuer les faire tourner . </p>
	<br>
	<hr>
	<h2> Code d'honneur </h2>
	<p> En utilisant <b>Mjwenn</b> vous certifiez sur <b>votre honneur</b> que les informations soumises sont exactes. </p>
	Lire <a href="#">le code </a>
{% endblock %}