<!-- extends base page (master page) -->
{% extends "obgest/base.html" %}

<!-- Page title -->
{% block title %} {{ title }} {% endblock %}

<!-- sous-menu -->
{% block sous_menu %} {{sous_title}} {% endblock %}

<!-- main content -->
{% block main_body %}

<div class="row">
	<div class="col-md-4 col-xs-12" style="border: 0px 1px 0px 0px solid black">
		<table class="table table-hoverd">
		<tr><td> <img src="{{ profil.avatar.url }}" class="img img-rounded img-thumbail" style="height:200px;width:80%"> </td></tr>
		<tr style="height:100px"><td style="vertical-align:top"> <span> <a href="#"> Changer </a></span> </td></tr>
		
		<tr class="profidl" ><td> <a href="" class="bt" style="width:100%"> Profil </a> </td></tr>
		<tr class="profidl" ><td> <a href="" class="bt" style="width:100%"> Mot de passe </a></td></tr>
		</table>
		
	</div>
</div>

{% endblock %}

<!-- side content -->
{% block page_side %}

{% endblock %}